/* stylelint-disable at-rule-no-unknown */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: theme('fontFamily.sans');
  }

  body {
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color .2s ease, color .2s ease;
  }

  .dark body {
    background-color: var(--background-dark);
    color: var(--text-dark);
  }
}
